@import 'tachyons';
@import 'ipfs-css';


/* ==========================================================================
   Document
   ========================================================================== */

html {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* ==========================================================================
   Body & #root
   ========================================================================== */

body, #root {
  min-height: 100%;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

.gatewayIcon
{
  position: absolute;
  width: 20px;
  margin: -2px 0px 0px -20px;  
}